
<div class="center" id="navBar">
<ul>
        <li id="headerLink" class="inline"><a href="/">Home</a></li>
        <li id="headerLink" class="inline"><a href="/Records">Records</a></li>
        <li id="headerLink" class="inline"><a href="/Details">Details</a></li>
        <li id="headerLink" class="inline"><a href="/Records/Add">Add</a></li>

</ul>
</div>


