@if (albumSummary != null)
{
<div class="recordSummary">
    <h3>@albumSummary.Name</h3>
    <h3>@albumSummary.Artist</h3>
    <p>Release Year: @albumSummary.Year</p>
    <p>Genre: @albumSummary.Genre</p>
    @if (albumSummary.Stock > 0)
    {
        <button>Order Now</button>
    }
    else
    {
        <p class="bold">Out of Stock</p>
    }

</div> 
}



@code {

    [Parameter]
    public RecordShop.Album? albumSummary { get; set; }

}
